{% extends 'templates/app.twig' %}

{% block title %}The required page does not exist{% endblock %}

{% block content %}

    <div class="uk-container uk-margin-top">
        <div class="uk-card uk-card-secondary uk-card-body">
            <h2>Error #404</h2>
            <h3>Strona nie istnieje. W razie jakich kolwiek problemów skontaktuj się z nami.</h3>
        </div>
    </div>

{% endblock %}