
<div class="uk-flex uk-flex-row uk-width-1-1">
    <div class="uk-width-1-4@l uk-width-1-5@xl uk-card uk-card-default uk-padding-remove largeResponsive" uk-height-viewport>
        <div class="logo-nav uk-flex uk-flex-center uk-flex-middle">
            <div class="logo-box">
                <img data-src="images/logo.png" class="logo" alt="Logo page" uk-img>
            </div>
        </div>
        <div class="uk-margin-medium-top">
            <div uk-sticky>
                <div class="uk-width-1-1">
                    <ul class="uk-nav uk-nav-default">
                        <li>
                            <a href="{{ path_for('dashboard') }}" class="uk-padding-sb uk-flex">
                                <span class="iconMenu uk-flex uk-flex-middle"><img src="images/menu1icon.png" alt="Icon dashboard"></span>Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="uk-padding-sb uk-flex">
                                <span class="iconMenu uk-flex uk-flex-middle"><img src="images/menu2icon.png" alt="Icon dashboard"></span>Projekty i zdjęcia
                            </a>
                        </li>
                        <li>
                            <a href="#" class="uk-padding-sb uk-flex">
                                <span class="iconMenu uk-flex uk-flex-middle"><img src="images/menu3icon.png" alt="Icon dashboard"></span>Edytor zdjęć
                            </a>
                        </li>
                        <li>
                            <a href="{{ path_for('settings') }}" class="uk-padding-sb uk-flex">
                                <span class="iconMenu uk-flex uk-flex-middle"><img src="images/menu4icon.png" alt="Icon dashboard"></span>Ustawienia
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="marginTop25">
                    <div class="uk-card uk-card-primary-light uk-card-body infoBox">
                        <p class="cardTitle">Aktywuj pakiet premium już teraz!</p>
                        <p class="cardText">Za jedyne 15zł/mo będziesz mógł korzystać ze wszystkich funkcji naszego serwisu.</p>
                        <button type="button" class="uk-button uk-button-primary uk-width-1-1 uk-flex-center">Aktywuj</button>
                    </div>
                    <div class="underInfoBox"></div>
                </div>
            </div>
        </div>
        <div class="button-nav">
            <button href="#" class="uk-button uk-button-primary uk-button-down">NAPISZ DO SUPPORTU</button>
        </div>
    </div>
    <div class="uk-flex uk-flex-column uk-width-1-1 uk-position-relative">
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" class="myNav" style="background: #29ce76;">
            <nav class="uk-container uk-container-large uk-light" uk-navbar style="background: #29ce76; position: relative; z-index: 980;">
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-flex uk-flex-middle largeResponsive">
                            <a href="#" class="uk-link-reset uk-padding-remove"><div class="subBox">DARMOWY | KREDYTÓW: 100</div></a>
                        </li>
                        <li class="uk-flex uk-flex-middle largeResponsive alertNavBox">
                            <a class="uk-link-reset" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" uk-tooltip="title: Powiadomienia; pos: bottom" width="24" height="24" viewBox="0 0 24 24" class="bellSVG"><path d="M15 21c0 1.598-1.392 3-2.971 3s-3.029-1.402-3.029-3h6zm.137-17.055c-.644-.374-1.042-1.07-1.041-1.82v-.003c.001-1.172-.938-2.122-2.096-2.122s-2.097.95-2.097 2.122v.003c.001.751-.396 1.446-1.041 1.82-4.668 2.709-1.985 11.715-6.862 13.306v1.749h20v-1.749c-4.877-1.591-2.193-10.598-6.863-13.306zm-3.137-2.945c.552 0 1 .449 1 1 0 .552-.448 1-1 1s-1-.448-1-1c0-.551.448-1 1-1zm-6.451 16c1.189-1.667 1.605-3.891 1.964-5.815.447-2.39.869-4.648 2.354-5.509 1.38-.801 2.956-.76 4.267 0 1.485.861 1.907 3.119 2.354 5.509.359 1.924.775 4.148 1.964 5.815h-12.903z"/></svg>
                            </a>
                            <div uk-dropdown="pos: bottom-center; mode: click" class="uk-navbar-dropdown-marginTop dropdownAlert">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-nav-header">Powiadomienia</li>
                                    <li class="uk-flex uk-flex-middle">
                                        <a href="#">Użytkownik <b>Paweł Pawelczak</b> polubił twoje zdjęcie pod tytułem ale jaja</a>
                                        <span class="buttonAlertTick" type="button" uk-icon="check"></span>
                                    </li>
                                    <li class="uk-flex uk-flex-middle">
                                        <a href="#">Użytkownik Paweł Pawelczak polubił twoje zdjęcie nad dzwif</a>
                                        <span class="buttonAlertTick" type="button" uk-icon="check"></span>
                                    </li>
                                    <li class="uk-flex uk-flex-middle">
                                        <a href="#">Użytkownik Paweł Pawelczak polubił twoje zdjęcie nad dzwif</a>
                                        <span class="buttonAlertTick" type="button" uk-icon="check"></span>
                                    </li>
                                    <li class="uk-flex uk-flex-middle">
                                        <button href="#" class="uk-button uk-button-primary buttonAlertMore">Zobacz wszystkie</button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-middle paddingBorderNav">
                            <a class="uk-link-reset" href="#">
                                <div class="uk-flex uk-flex-middle">
                                    <img class="uk-comment-avatar uk-border-rounded uk-margin-right" src="images/avatar.jpg" width="60" height="60" alt="Avatar">
                                    <h4 class="uk-comment-title uk-margin-remove">{{ auth.user.name }} Kruk <span class="uk-margin-small-right" uk-icon="icon: chevron-down;  ratio: 1.4"></span></h4>
                                </div>
                            </a>
                            <div uk-dropdown="pos: bottom-center; mode: click" class="uk-navbar-dropdown-marginTop">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">Ustawienia profilu</a></li>
                                    <li><a href="#">Preferencje serwisu</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Twoje projekty</a></li>
                                    <li><a href="#">Udostępnienia</a></li>
                                    <li><a href="#">Edytor zdjęć</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade">


